<h1>Edit Your Dream:</h1>

<form method="post" action="/dreams/<%= @dream.id %>">

<input id="hidden" type="hidden" name="_method" value="patch">
Date: <input type="date" value="<%=@dream.date%>" name="date"><br><br>
Keyword: <input type="string" value="<%=@dream.keywords%>" name="keywords"><br><br>
Hours Slept: <input type="float" value="<%=@dream.hours_slept%>" name="hours_slept"><br><br>
Summary: <input type="string" value="<%=@dream.summary%>" name="summary"><br><br>
Lucid Dream: <input type="boolean" value="<%=@dream.lucid_dream?%>" name="lucid_dream?"><br><br>
<input type="submit" value="submit">
</form>
