<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Dream:</title>
 </head>
 <body>
   <h1> Dream: <%= @dream[:date] %> </h1>
   <h2> Hours Slept: <%= @dream[:hours_slept] %> </h2>
   <h3> Lucid Dreaming: <%= @dream[:lucid_dream?] %> </h3>
   <h3> Summary: </h3>
   <p><%= @dream[:summary] %> </p>
   <br>
   <form method="post" action="/dreams/<%= @dream.id %>/edit">
   <input id="hidden" type="hidden" name="_method" value="edit">
   <input type="submit" value="Edit Dream">
   </form><br>


   <form method="post" action="/dreams/<%= @dream.id %>/delete">
   <input id="hidden" type="hidden" name="_method" value="delete">
   <input type="submit" value="Delete Dream">
   </form>

   <p><a href="/users/<%= @dream.user_id %>">Dream Profile</a></p>


   <p><a href="/logout">Log Out</a></p>

 </body>
</html>
