<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Dream:</title>
 </head>
 <body>
   <h1> Dream: <%= @dream[:date] %> </h1>
   <h2> By: <%= @author.username %> </h2>
   <h4> Keywords: <%= @dream[:keywords] %> </h4>
   <h4> Hours Slept: <%= @dream[:hours_slept] %> </h4>
   <h4> Lucid Dreaming: <%= @dream[:lucid_dream?] %> </h4>
   <h2> Summary: </h2>
   <p><%= @dream[:summary] %> </p>
   <br>
   <form method="post" action="/dreams/<%= @dream.id %>/edit">
   <input id="hidden" type="hidden" name="_method" value="edit">
   <input type="submit" value="Edit Dream">
   </form><br>


   <form method="post" action="/dreams/<%= @dream.id %>/delete">
   <input id="hidden" type="hidden" name="_method" value="delete">
   <input type="submit" value="Delete Dream">
   </form>

   <p><a href="/users/<%= @dream.user_id %>"><button>Dream Profile</button></a></p>


   <p><a href="/logout"><button>Log Out</button></a></p>

 </body>
</html>
